PORT=3000

# SQL Server
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=TktInventorySolution
# Usa la sesión de Windows que ejecuta Node.js (SEBAS-ARANGO\arang).
DB_AUTH_TYPE=windows
# Configuración indicada en la imagen de conexión.
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
